@using Grpc.Client.Www
@using Grpc.Share.Config.Www
@using Grpc.Share.Protos.WwwModels.Content
@using Grpc.Share.Tools
@using Protobuf.Shared.Text
@using Protobuf.Www.Content
@using QuetzalSidera.Me.Models
@using QuetzalSidera.Me.Components.Components
@rendermode InteractiveServer
@inject AppState AppState
@inject ContentDataService ContentDataService

<!-- 个人项目 -->
<section id="@_sectionData?.SectionAnchor">
    <h2><i class="@_sectionData?.SectionPictureCss"></i>
        <Text TextValue="@_sectionData?.SectionTitle.ToLangString(AppState.LangTypeInstance)" AnimationType="scale"></Text>
    </h2>
    <p class="section-intro">
        <Text TextValue="@_sectionData?.SectionComment.ToLangString(AppState.LangTypeInstance)" AnimationType="slide"></Text>
    </p>
    <div class="card-grid">

        @foreach (var card in _cardData ?? [])
        {
            <a href="@card.CardLink" class="card">
                <span class="@card.CompleteStatus.ToCss()"><Text
                        TextValue="@card.CompleteStatus.ToTextModel().ToLangString(AppState.LangTypeInstance)"
                        AnimationType="scale"></Text></span>
                <h3><i class="@card.CardPictureCss"></i>
                    <Text TextValue="@card.CardTitle.ToLangString(AppState.LangTypeInstance)" AnimationType="scale"></Text>
                </h3>
                <p>
                    <Text TextValue="@card.CardContent.ToLangString(AppState.LangTypeInstance)" AnimationType="fade"></Text>
                </p>
                <p><strong>
                        <Text TextValue="@ConfigData.TechStack.SectionTitle.ToTextModel().ToLangString(AppState.LangTypeInstance,":")" AnimationType="fade"></Text>
                    </strong>
                    <Text TextValue="@card.CardComment.ToLangString(AppState.LangTypeInstance)" AnimationType="fade"></Text>
                </p>
            </a>
        }
    </div>


</section>

@code{
    SectionModel? _sectionData;
    List<ProjectsCardModel>? _cardData;

    protected override async Task OnInitializedAsync()
    {
        var layout = await ContentDataService.GetLayoutAsync(ConfigData.PathConfig.RootPath);
        _sectionData = layout.Sections.FirstOrDefault(section => section.SectionTitle.TextEnUs == ConfigData.Projects.SectionTitle[LangType.EnUs]);
        _cardData = _sectionData?.Cards?.Select(wrappedCard => wrappedCard.WrappedProjectsCard??new ProjectsCardModel()).ToList();
        AppState.OnLanguageChanged += StateHasChanged;
        StateHasChanged();
    }

}
